body {
   background: #370617;
}

.container {
    display: flex;
    justify-content: space-around;
      
}
.box1 {
    width: 78px;
    height: 78px;
    left: 117px;
    top: 153px;
    background: #9D0208;
    border-radius: 4px;

}

.box2 {
    width: 78px;
    height: 78px;
    left: 117px;
    top: 153px;
    background: #9D0208;
    border-radius: 4px;
}

.box3 {
    width: 78px;
    height: 78px;
    left: 117px;
    top: 153px;
    background: #9D0208;
    border-radius: 4px;

}