body {
    position: relative;
    width: 1152px;
    height: 700px;
    background: #370617;
}

.firstblock {

}

.secondblock {

}

.thirdblock {

}

.fourthblock {


}

.fifthblock {

}

.sixthblock {


}